*,
*::before,
*::after {
  box-sizing: border-box;
  transition: color 0.2s ease-out, background-color 0.2s ease-out;
}

body {
  min-inline-size: 375px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  outline: none;
  border: none;
}

a:focus {
  outline: none;
  background-color: transparent;
}
