.page.theme_light {
  --accentColor: #ff8dcb;
  --backgroundColor: #fff1f7;
  --titleColor: #ffc2e6;
  --subtitleColor: #353430;
  --textColor: #353430;
  --headerBackgroundImage: url("../images/cover-image-light.png");
  --onlyDarkThemeOpacity: 0;
}
