:root {
  --accentColor: #ff0070;
  --accentColorOpaque: rgba(255, 0, 112, 0.4);
  --backgroundColor: #000028;
  --titleColor: #db00ff;
  --subtitleColor: #000028;
  --textColor: #f1b2ce;
  --sectionTitleColor: #ff0070;
  --headerBackgroundImage: url("../images/cover-image-dark.png");
  --onlyDarkThemeOpacity: 1;
}
